{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{ range .Pages }}
            <div class="column is-4 portfolio-container-list">
                <div class="portfolio-card">
                        <div class="portfolio-bg" style="background: url({{ .Params.main_image }});height: 30vh;background-size:cover">
                        </div>
                        <div class="portfolio-list-content">
                            <h4 class="subtitle is-5" style="margin: 10px 0">{{ .Params.Title }}</h4>
                            <ul>
                                {{ range $name, $taxonomy := .Site.Taxonomies.projects }}
                              <li>
                                <a href="/projects{{ $name | urlize | relURL }}" class="secondary-btn">/ {{ $name | humanize }}</a>
                              </li>
                              {{end}}
                            </ul>
                            <a href="{{ .Permalink }}" class="view-more secondary-btn">View Project</a>

                        </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}