{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

{{ if  .Site.Data.design.sub_pages.sub_page_image }}<div style="height: 25vh;background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)),url({{ .Site.Data.design.sub_pages.sub_page_image }}); background-size: cover;background-position: center" class="page-banner">{{ else }}
    <div class="interior-section">{{ end }}
        <div class="container">
            <div class="columns">
                <div class="column">
                    
                    <h1 class="title is-3">{{ .Title }}</h1>
                    
                    <time class="secondary-btn">{{.Date.Format "Jan 2, 2006" }}</time>
                    
                </div>
            </div>
        </div>
    </div>
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "footer.html" . }}