<section class="hero hero__container">
    <!-- Hero head: will stick at the top -->
{{ partial "navbar.html" . }}
<div class="section">
<div class="responsive-slide">
  {{ range first 6 (where $.Site.RegularPages "Type" "blog") }}
  <div class="column has-text-centered">
    <div class="home-card">
        <div class="card-image">
            {{ if .Params.featured_image}}
          <figure class="image is-4by5">
            <img src="{{ .Params.featured_image }}" alt="Featured blog image" style="object-fit: cover;">
          </figure>
          {{ else }}
          <figure class="image is-16by9">
            <img src="http://www.hungryram.com/uploads/nophotohouse.jpg" alt="Featured blog image" style="object-fit: cover;">
          </figure>
          {{ end }}
        </div>
        <div class="card-content content home-blog-content has-text-centered">
          <div class="media-content has-text-centered">
            <time><small>{{.Date.Format "Jan 2, 2006" }}</small></time>
            <h3 class="has-text-black has-text-centered">{{ .Title }}</h3>
          </div> 
          <div class="content">
            <a href="{{ .Permalink }}" class="secondary-btn">View Article</a>
          </div>
        </div>
      </div>
</div>
  {{ end }}
</div>
<hr>
</div>
</section>

